{% extends 'base.html.twig' %}

{% block body %}
<div class="row d-flex pizzas">
  {% if pizzas is defined%}
    {% for pizza in pizzas %}
        <div class="col-6 mt-5">
            <div class="card mb-3">
                <div class="card-body p-2">
                    <h4 class="card-title text-center">{{ pizza.nombre }}</h4>
                    <p class="card-text text-center">
                        {{ pizza.precio }} €
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}
